REACT_APP_MAILCHAIMP=YOUR_MAILCHAIMP_LINK
REACT_APP_FIREBASE_APIKEY=YOUR_FIREBASE_APIKEY
REACT_APP_FIREBASE_AUTHDOMAIN=YOUR_FIREBASE_AUTHDOMAIN
REACT_APP_FIREBASE_PROJECTID=YOUR_FIREBASE_PROJECTID
REACT_APP_FIREBASE_STORAGEBUCKET=YOUR_FIREBASE_STORAGEBUCKET
REACT_APP_FIREBASE_MESSAGINGSENDERID=YOUR_FIREBASE_MESSAGINGSENDERID
REACT_APP_FIREBASE_APPID=YOUR_FIREBASE_APPID